<div class="mb-1">
  <button routerLink="/games/{{ gameId }}" class="btn btn-flat btn-back btn-sm">
    <span class="ra  ra-sideswipe"></span>
  </button>
  <h1 class="page-header">
    {{ gameWrapper?.game.name }} -
    <span class="hero">
      {{ hero?.name }}
    </span>
  </h1>
</div>
<nav class="subnav">
  <ul>
    <li class="list-item">
      <a routerLinkActive="active" [routerLink]="['actions']">
        Actions
      </a>
    </li>
    <li class="list-item">
      <a routerLinkActive="active" [routerLink]="['character-sheet']">
        Characters sheet
      </a>
    </li>
    <li class="list-item">
      <a routerLinkActive="active" [routerLink]="['actions-settings']">
        Actions settings
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
