@import "~@ng-select/ng-select/themes/default.theme.css";


.ng-select{  /* for development only */
    width: 200px;
    display: inline-block !important; 
}

html { 
    background: url(assets/images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.error{
    color: red;
}