.list-item {
  display: inline-block;

  a {
    color: #391c12;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #ede3b7;
    font-family: 'Noto Serif', serif;
    border-right: 2px solid #e2d5a4;

    &.active {
      font-weight: bold;
      color: #a51d1d;
    }
  }
}

.subnav ul {
  padding: 0.5rem 0;
}
