nav li a {
  color: #391c12;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #ede3b7;
  font-family: 'Noto Serif', serif;
  font-size: 14px;
  border-right: 2px solid #e2d5a4;
}

nav ul {
  padding: 0.5rem 0;
}

nav li {
  display: inline-block;
}
