<a routerLink="/heroes">
    Back
</a>

<div>
    {{hero.heroName}}
</div>
<nav>
    <ul>
        <li>
            <a [routerLink]="['actions']">
                Actions
            </a>
        </li>
        <li>
            <a [routerLink]="['character-sheet']">
                Characters sheet
            </a>
        </li>
        <li>
            <a [routerLink]="['actions-settings']">
                Actions settings
            </a>
        </li>
    </ul>
</nav>


    
<router-outlet></router-outlet>
