.action-list {
  color: #9c1f1f;
  font-weight: 600;
  font-size: 16px;
  margin: 0;

  a {
    padding: 2px 0;
    display: block;
  }
}
.hero-image {
  position: absolute;
  right: -13px;
  top: -127px;
  width: 242px;
}
