<li *ngFor="let action of completeActionsList" (click)="logRollDice(action)">
  {{action.actionName}}
</li>
<h2>
  LOG FOR ROLLS OF DICES
</h2>
<div *ngIf="showLogs">
  <div *ngFor="let action of actionsLog">
    <strong>
        {{action.actionName}}
    </strong>
    <span *ngIf="action.actionSucceeded === 'true'">
      Action succeeded. Roll result: {{action.rollResult}}
    </span>
    <span *ngIf="action.actionSucceeded === 'false'">
      Action failed. Roll result: {{action.rollResult}}
    </span>
    <span *ngIf="action.diceType">
      {{action.rollResult}}
    </span>
  </div>
</div>
