<li *ngFor="let action of heroConditionalActions" (click)="logRollDice(action)">
  {{action.actionName}}

  </li>
  <form>
      <input name="actionName" placeholder="Add your own action">
      <ng-select [items]="simpleItems" name="try"
      [(ngModel)]="selectedSimpleItem">
</ng-select>
  </form>
  <br>
  <br>
  <div>
   LOG FOR ROLLS OF DICES
  </div>


<div *ngIf="showLogs">
  <div *ngFor="let action of actionsLog">
  {{action.actionName}}
  <div *ngIf="action.actionSucceeded === 'true'">
    Action succeeded.
  </div>
  <div *ngIf="action.actionSucceeded === 'false'">
    Action failed
   </div>
  </div>
</div>
